/* FONTS & COLORS ---------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400&family=Poppins&display=swap");

/* GENERAL --------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Jost", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
select {
  font-family: "Jost", sans-serif;
  padding: 1em;
  border-radius: 10px;
  margin: 1em;
  font-size: 0.8rem;
  border: none;
  background-color: rgb(188, 225, 223);
}

button:hover {
  background-color: rgb(120, 183, 180);
}

button:active {
  background-color: rgb(67, 164, 160);
}

.pageContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrap {
  padding-bottom: 10rem;
}

/* HEADER --------------------------------------------------------- */
/* NAVBAR --------------------------------------------------------- */
/* AUTHBAR --------------------------------------------------------- */
/* SIGNUP,LOGIN --------------------------------------------------------- */
/* HOME --------------------------------------------------------- */
/* FOOTER --------------------------------------------------------- */
